@use "../../../styles.scss" as colors;

.sticky-container {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: colors.$additionalColor;
}

.search-container {
    display: flex;
    justify-content: center;
    padding: 8px;
}

.search-input {
    width: 80%;
    height: 32px;
    padding: 0px 8px;
    background-color: colors.$additionalColor;
    color: colors.$textColor;
    outline: none;
    border-width: 2px;
    border-radius: 4%;
    border-color: red;
}
