/* You can add global styles to this file, and also import other style files */
$mainColor: #100e17;
$additionalColor: #191621;
$textColor: #bebebe;
$avatarColor: white;

* {
    padding: 0;
    margin: 0;
}

