@use "../../../styles.scss" as colors;

div:only-child {
    width: 100%;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow-x: hidden;
}

.input-form {
    display: grid;
    grid-template: 1fr / 26px 1fr auto;
    padding-left: 8px;
    align-items: center;
    width: 100%;
    background-color: colors.$additionalColor;
}

.input-message {
    background-color: colors.$additionalColor;
    color: colors.$textColor;
    outline: none;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    height: 32px;
    width: 100%;
}

.send-message-btn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.chat-container {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    scrollbar-width: none;

    &:hover {
        scrollbar-width: thin;
    }
}

.select-chat-menu {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-chat-text {
    background-color: colors.$additionalColor;
    padding: 10px;
    border-radius: 10px;
    user-select: none;
}
