@use "../../../styles.scss" as colors;

.page {
    width: 100vw;
    height: 100vh;
    background-color: $mainColor;
    font-family: "Rubik";
    display: flex;
    align-items: center;
    justify-content: center;
    color: colors.$textColor;
}

.popup {
    position: relative;
    width: 20%;
    height: 50%;
    background-color: colors.$additionalColor;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    position: absolute;
    top: 16px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.email-input {
    padding-left: 6px;
    background-color: colors.$mainColor;
}