@use "../../../styles.scss" as colors;

.chat-preview {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: colors.$additionalColor;
    user-select: none;
    
    &:hover {
        background-color: colors.$secondAdditionalColor;
    }
}

.avatar-template {
    margin: 12px 6px 12px 12px;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background-color: colors.$avatarColor;
    background-image: url('savedmessages.jpg');
    background-size: contain;
}   