@use "../../../styles.scss" as colors;

.chat-preview {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(161, 11, 41);
    
    &:hover {
        background-color: rgb(105, 0, 0);
    }
}

.avatar-template {
    margin: 12px 6px 12px 12px;
    height: 38px;
    width: 38px;
    background-color: colors.$avatarColor;
    border-radius: 50%;
}