@use "../../../styles.scss" as colors;

.post {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.posts-container {
    height: 90vh;
    padding-left: 12px;
    overflow-y: auto;
    scrollbar-width: none;

    &:hover {
        scrollbar-width: thin;
    }
}

.avatar {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: colors.$avatarColor;
}

.message {
    margin-left: 12px;
    padding-left: 8px;
    height: 48px;
    border-radius: 4%;
    background-color: colors.$additionalColor;
    display: flex;
    align-items: center;
}

.author {
    background-color: #2B2637;
}
 

.message-text {
    padding-left: 6px;
    padding-right: 24px;
}