@use "../../../styles.scss" as colors;

.page {
    width: 100vw;
    min-height: 100vh;
    font-family: "Rubik";
    display: flex;
    background-color: colors.$mainColor;
    color: colors.$textColor;
}

.panel-container {
    height: 100vh;
    float: left;
    width: max(12vw, 200px);
    background-color: colors.$additionalColor;
    overflow: hidden;
    scrollbar-width: thin;
    
    &:hover {
        overflow-y: auto;
    }
}

.chat-container {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    scrollbar-width: none;

    &:hover {
        scrollbar-width: thin;
    }
}