@use "../../../styles.scss" as colors;

.page {
    width: 100vw;
    min-height: 100vh;
    font-family: "Rubik";
    display: flex;
    background-color: colors.$mainColor;
    color: colors.$textColor;
}

.panel-container {
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    float: left;
    width: max(12vw, 200px);
    background-color: colors.$additionalColor;
}

.chat-container {
    width: 100%;
    display: flex;
    justify-content: center;
}